<h1>Patient Index</h1>
<ul>
  <% @patients.each do |patient| %>
    <h3>Name: <%= link_to patient.name, patient_path(patient) %> Number of Appointments: <%= patient.appointments.length %></h3>
  <% end %>
</ul>
